<div class="trainingarchitecture-collapsible">
    <span class="trainingarchitecture-show-hide-table-title">{{collapsetext}}</span>
    <input 
        type="text" 
        class="trainingarchitecture-search-input" 
        id="search-input-cohort-to-training" 
        data-table-id="{{tableid}}" 
        placeholder="{{searchtext}}"
    >

    <div id="{{tableid}}" class="table-container-training-architecture">
        <table class="generaltable">
            <thead>
                <tr>
                    <th>{{training_label}}</th>
                    <th>{{cohort_label}}</th>
                    <th>{{actions_label}}</th>
                </tr>
            </thead>
            <tbody>
                {{#rows}}
                    <tr>
                        <td>{{training}}</td>
                        <td>{{cohort}}</td>
                        <td>
                            <a href="{{delete_url}}">{{#pix}}t/delete, core{{/pix}}</a>
                        </td>
                    </tr>
                {{/rows}}

                {{^rows}}
                    <tr>
                        <td colspan="3">{{#str}}nodata, local_training_architecture{{/str}}</td>
                    </tr>
                {{/rows}}
            </tbody>
        </table>
    </div>
</div>
