{{#create_cohort_to_training_form}}
    <div class="form-container">
        {{{create_cohort_to_training_form}}}
    </div>
{{/create_cohort_to_training_form}}

<div id="cohort-to-training-table-container">
    <table class="cohort-to-training-table">
        <thead>
            <tr>
                <th>{{training_label}}</th>
                <th>{{cohort_label}}</th>
                <th>{{actions_label}}</th>
            </tr>
        </thead>
        <tbody>
            {{#cohort_to_training_data}}
                <tr>
                    <td>{{training_name}}</td>
                    <td>{{cohort_name}}</td>
                    <td>
                        <a href="{{delete_url}}" class="action-btn">{{#pix}}t/delete{{/pix}} {{delete_label}}</a>
                    </td>
                </tr>
            {{/cohort_to_training_data}}
        </tbody>
    </table>
</div>
