{{#create_training_form}}
    <div class="form-container">
        {{{create_training_form}}}
    </div>
{{/create_training_form}}

<div id="training-table-container">
    {{#training_data}}
        <table class="training-table">
            <thead>
                <tr>
                    <th>{{fullname_label}}</th>
                    <th>{{shortname_label}}</th>
                    <th>{{idnumber_label}}</th>
                    <th>{{granularity_label}}</th>
                    <th>{{semester_label}}</th>
                    <th>{{actions_label}}</th>
                </tr>
            </thead>
            <tbody>
                {{#training_data}}
                    <tr>
                        <td>{{fullname}}</td>
                        <td>{{shortname}}</td>
                        <td>{{idnumber}}</td>
                        <td>{{granularitylevel}}</td>
                        <td>{{semesterchoice}}</td>
                        <td>
                            <a href="{{sort_url}}" class="action-btn">{{#pix}}t/sort{{/pix}} {{sort_label}}</a>
                            <a href="{{edit_url}}" class="action-btn">{{#pix}}t/edit{{/pix}} {{edit_label}}</a>
                            <a href="{{delete_url}}" class="action-btn">{{#pix}}t/delete{{/pix}} {{delete_label}}</a>
                        </td>
                    </tr>
                {{/training_data}}
            </tbody>
        </table>
    {{/training_data}}
</div>
