<div id="lu-to-lu-form">
    {{{lu_to_lu_form}}}
</div>

<div class="trainingarchitecture-btn-container">
    <button id="delete-selected-lu-to-lu" class="trainingarchitecture-delete-selection btn">
        {{deleteselection_label}}
    </button>
</div>

<table class="generaltable">
    <thead>
        <tr>
            <th>{{training_label}}</th>
            <th>{{lu1_label}}</th>
            <th>{{lu2_label}}</th>
            <th>{{actions_label}}</th>
            <th>{{selection_label}}</th>
        </tr>
    </thead>
    <tbody>
        {{#lu_to_lu_entries}}
            <tr>
                <td>{{training}}</td>
                <td>{{luid1}}</td>
                <td>{{luid2}}</td>
                <td>
                    <a href="{{delete_url}}">
                        {{#pix}}t/delete, core{{/pix}}
                    </a>
                </td>
                <td>
                    <input type="checkbox" 
                        name="checkbox-lu-to-lu" 
                        value="{{checkbox_data.id}}"
                        data-trainingid="{{checkbox_data.trainingid}}"
                        data-luid1="{{checkbox_data.luid1}}"
                        data-luid2="{{checkbox_data.luid2}}"
                        data-isluid2course="{{checkbox_data.isluid2course}}">
                </td>
            </tr>
        {{/lu_to_lu_entries}}
    </tbody>
</table>