<div class="trainingarchitecture-collapsible">
    <span class="trainingarchitecture-show-hide-table-title">{{collapsetext}}</span>
    <input 
        type="text" 
        class="trainingarchitecture-search-input" 
        id="search-input-training-links" 
        data-table-id="{{tableid}}" 
        placeholder="{{searchtext}}"
    >

    <div class="trainingarchitecture-btn-container">
        <button id="delete-selected-training-links" class="trainingarchitecture-delete-selection btn">
            {{#str}}deleteselection, local_training_architecture{{/str}}
        </button>
    </div>

    <div id="{{tableid}}" class="table-container-training-architecture">
        <table class="generaltable">
            <thead>
                <tr>
                    <th>{{training_label}}</th>
                    <th>{{target_label}}</th>
                    <th>{{level_label}}</th>
                    <th>{{semester_label}}</th>
                    <th>{{actions_label}}</th>
                    <th>{{selection_label}}</th>
                </tr>
            </thead>
            <tbody>
                {{#rows}}
                    <tr>
                        <td>{{training}}</td>
                        <td>{{target}}</td>
                        <td>{{level}}</td>
                        <td>{{semester}}</td>
                        <td>
                            <a href="{{delete_url}}">{{#pix}}t/delete, core{{/pix}}</a>
                        </td>
                        <td>
                            <input type="checkbox" name="checkbox-training-links" value="{{checkbox_value}}">
                        </td>
                    </tr>
                {{/rows}}

                {{^rows}}
                    <tr>
                        <td colspan="6">{{#str}}nodata, local_training_architecture{{/str}}</td>
                    </tr>
                {{/rows}}
            </tbody>
        </table>
    </div>
</div>
